/* Card */
.card {
    background-color: #2B343D !important; /* Dark gray for cards */
    color: #FFFFFF !important; /* Light text on cards */
    margin-bottom: 1.5rem;
}

.card-header {
    background-color: #1F2A36 !important; /* Darker header for cards */
    color: #FFC107 !important; /* Highlighted text */
}
