@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@inject TrionLogger Log

@inject Trion.UI.Localization.GlobalLocalizer L

<h1>@L["H_World"]</h1>
<p>Culture: @System.Globalization.CultureInfo.CurrentUICulture.Name</p>

@code{
    private void Fire()
    {
        Log.Info("MAUI Hybrid info");
        Log.Success("MAUI Hybrid success");
        Log.Warning("MAUI Hybrid warning");
        Log.Error(new Exception("MAUI Hybrid error"));
    }
}