@page "/"
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/page/index.css">
    
</head>
<body>

    <div class="card">
    </div>
    <div class="card">
        <video class="card-img-top" style="position:relative; height:50%;" autoplay loop muted>
            <source src="videos/dalaranTribute_4kLoop.mp4" type=video/mp4 />
        </video>
    </div>
</body>
</html>

@code{

}